.checkoutproduct{
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color:white;
    width: 70vw;
    padding: 20px;

}
.CheckoutProduct__info{
    padding-left: 20px;
}
.CheckoutProduct__info > button{
    background-color:#f0c14b;
    border:1px solid;
border-color: #a88734 #9c7e31 #846a29;
color: #111;
margin-top: 20px;  
}
.CheckoutProduct__image{
    object-fit: contain;
    width: 180px;
    height: 180px;
    
}
.CheckoutProduct__rating{
    display: flex;
    margin-top: -15px;
}
.CheckoutProduct__title{
    font-style: 17px;
    font-weight: 800;
}
.CheckoutProduct__cost{
    display: flex;
}

@media only screen and (max-width: 768px){
    .checkoutproduct{
        width: 100vw;
    }
    .CheckoutProduct__info{
        width: 300px;
        margin-left: -30px;
  
    }
    .CheckoutProduct__image{
        margin-left: -20px;
    }
}