.product{
    display: flex;
    flex-direction: column;
    background-color:white;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    max-height: 400px;
    min-width: 100px;
    z-index: 1;
    padding: 20px;
    margin-left: 20px;
    margin-right: 20px;
}
.product >img{
    margin-bottom: 10px;
   max-height:200px ; 
    width: 100%;
    object-fit: contain;
    margin-top: 20px;

}
.product__price{
    margin-top: 5px;
    display: flex;

}
.product__info{
    height:100px;
    margin-bottom: 15px;
}
.product >button{
    background-color:#f0c14b;
    border:1px solid;
border-color: #a88734 #9c7e31 #846a29;
color: #111;
margin-top:10px;
}
.product__rating{
    display: flex;
}

@media only screen and (max-width: 768px){
    .product{
    max-height: 400px;
    max-width: 500px; 
    margin-left: 0;
    margin-right: 0;
}
}
@media only screen and (max-width: 1024px){
    .product{
        min-width: 100px;
        min-height: 100px;
        max-height: 400px;
        max-width: 1600px; 
        margin-left: 0;
        margin-right: 0;
    }
}